h2 {
    margin-top: 10px !important;
    margin-left: 20px;
}

.space {
    height: 40px;
}

.App > .media, .App > .list-unstyled {
    border: 2px solid lightgray;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    max-width: 800px;
}